<%- include('partials/header') %>
    <!-- Page used for sorting by something -->
    <!-- So far, it's just towns and last names -->
    <script>
        const url = new URL(window.location)
        const segments = url.pathname.split("/").filter(Boolean);
        const type = segments[segments.length - 1];
    </script>
    <script src="/by.js"></script>
    <h2 id="sortBy"></h2>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline" id="appendHere">
            </div>
        </div>
        <div class="has-text-centered">
            <button class="button" onclick="next()" id="nextButton">Next Page</button>
        </div>
    </section>

    <%- include('partials/footer') %>