<%- include('partials/header') %>
<!-- BULK EXPORT -->
<!-- I'm envisioning this to look like a form that is filled out -->
<section class="section">
    <div class="container">
      <h1 class="title">Bulk Data Export</h1>
      <p>Export up to 10,000 properties in CSV form</p>
      <form action="#" method="POST">

        <div class="field">
          <label class="label" for="email">Email</label>
          <div class="control">
            <input class="input" type="email" id="email" name="email" placeholder="Enter your email" required>
          </div>
        </div>

        
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" id="terms" name="terms" required>
              I agree to the <a href="#">terms and conditions</a>
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit" id="emailSubmit">Next</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <script>
    $(document).ready(function() {
        $('#emailSubmit').click(function(event) {
          // html already validates email for us, no need to validate again
          localStorage.setItem("email", $("#email").val());
        });
    });
  </script>
<%- include('partials/footer') %>