<%- include('partials/header') %>
    <!-- CSS to fix map issue -->
    <style>
        .mapbox {
            width: 100%;
            height: 100%;
        }
    </style>


    <!-- Hero Section -->
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Open Real Estate</h1>
                <p class="subtitle">Description example text example text example text example text example text example
                    text</p>
            </div>
        </div>
    </section>

    <!-- Main Content -->
    <section id="houses" class="section">
        <div class="container">
            <div class="columns is-multiline" id="appendHere">
                <!-- EVERYTHING GOES HERE -->
            </div>
        </div>
    </section>
    <script src="/polygon.js"></script>
    <script src="/home.js"></script>
    <%- include('partials/footer') %>