<%- include('partials/header') %>



    <!-- Hero Section -->
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Open Real Estate</h1>
                <p class="subtitle">Description example text example text example text example text example text example
                    text</p>
            </div>
        </div>
    </section>

    <!-- Main Content -->
    <section id="houses" class="section" style="display:none;">
        <div class="container">
            <div class="columns is-multiline">
                <!-- First Row -->
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <div id="map1" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></div>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="https://bulma.io/assets/images/placeholders/96x96.png"
                                            alt="Placeholder image" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4" id="town1">John Smith</p>
                                    <p class="subtitle is-6" id="state1">@johnsmith</p>
                                </div>
                            </div>

                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                                iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                                <a href="#">#responsive</a>
                                <br />
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <div id="map2" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></div>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4" id="town2">John Smith</p>
                                    <p class="subtitle is-6" id="state2">@johnsmith</p>
                                </div>
                            </div>

                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                                iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                                <a href="#">#responsive</a>
                                <br />
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <div id="map3" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></div>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="https://bulma.io/assets/images/placeholders/96x96.png"
                                            alt="Placeholder image" />
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4" id="town3">John Smith</p>
                                    <p class="subtitle is-6" id="state3">@johnsmith</p>
                                </div>
                            </div>

                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                                iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                                <a href="#">#responsive</a>
                                <br />
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script src="home.js"></script>
    <%- include('partials/footer') %>