<%- include('partials/header') %>
  <%- include('partials/searchForm') %>
  <!-- need a section here to display the search results.. -->
  <section class="section">
    <div class="container">
      <h2 class="title">Search Results</h2>
      <div id="searchResultsHolder">

        <!-- Add more search results as needed -->
      </div>
    </div>
  </section>

  <script src="form.js"></script>

  <%- include('partials/footer') %>