<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Open Real Estate</strong> by <a href="https://www.trentwiles.com">Trent Wiles</a>.
            Source code is available on <a href="https://github.com/trentwiles/openrealestate">GitHub</a>.
        </p>
    </div>
</footer>
</body>
</html>